*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background-color: #211d20;
    color:whitesmoke
}

.text-content {
    overflow-y: scroll;
    height:20vh;
    padding-left: 10px;
}

p {
    max-width: 100ch;
}


